
.container{
    text-align: center;
}
.calculator{
    text-align: center;
    display: inline-block;
    background-color: #c16cbf;
    border: 21px solid #d2cdcd;
    border-radius: 34px;
}
table{
    margin: auto;
}
input{
    width: 300px;
    height: 53px;
    border: 2px solid #232120;
    border-radius: 9px;
    font-size: 29px;
}
button{
    width: 68px;
    height: 63px;
    border: 1px solid #271d25;
    border-radius: 8px;
    margin: 2px;
    font-size: 25px;
    
}
button:hover{
    background-color: #393b44;
    color: white;
}